build/
dummy/
vtune/
.vscode/

.DS_Store

*.mlir
*.o
*.llvmir
*.ll
*.profraw
*.txt
*.err
*.pdf
*.out
*.f90
perf.*
inp.in
info.vtune
mcf.out
BuckBunny*
cpu2006*


coverage.sh

!Samples/*
!utils/*
!benchmarks-*
!inp.in
!puzzles.txt

spec/
spec-ref/
__pycache__/
results/
